%h2
  = @survey.name

%h3
  Summary

%h4
  Your Score:
  = "#{@assessment.score} / #{@survey.total_points}"

%h3
  Questions

- @survey.polls.each do |poll|
  %h4
    = poll.question_text
  %br
  .well
    %ul
    - poll.answers.each do |answer|
      - @is_choice = false
      - @assessment.responses.each do |response|
        - if answer.id == response.choiceId
          - @is_choice = true
      - if @is_choice && answer.is_right?
        .correct-answer= answer.answer_text
      - elsif @is_choice && !answer.is_right?
        .wrong-answer= answer.answer_text
      - else
        .not-picked-answer= answer.answer_text
      %br

= link_to 'Back', course_path(params[:course_id]), class: "btn"
