= form_for(:session, url: sessions_path) do |f|
  = f.label :email
  %br
  = f.text_field :email
  %br

  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br

  = f.submit "Sign in"

New user? 
= link_to "Sign up now!", signup_path