- provide(:title, "Sign In")
%h1
  Sign In

#form
  = form_for(:session, url: sessions_path) do |f|
    = f.label :email
    %br
    = f.text_field :email
    %br

    %br
    = f.label :password
    %br
    = f.password_field :password
    %br
    %br

    = f.submit "Sign In"

#newUser
  New user? 
  %br
  %br
  .btn.btn-large.btn-primary= link_to "Sign up now!", signup_path