.row
  .span12
    %h2
      Welcome to ResponseMonster
    %br
    - if !@open_surveys.empty?
      %h3 Open surveys in your classes
      %table.table.table-hover.table-condensed.wide
        %thead
          %tr
            %th Class
            %th Survey
            %th Closes
            %th Action
        %tbody
          - @open_surveys.each do |survey|
            - if @taught.include? survey.course
              %tr
                %td= link_to survey.course.id, survey.course
                %td= survey.name
                - if survey.end_time.nil?
                  %td Unknown
                - else
                  %td= survey.end_time
                %td
                  = link_to "Close quiz", deactivate_course_survey_path(survey.course, survey), class: "btn pill-button-right pill-button-fix"
                  = link_to "View Quiz", course_survey_path(survey.course, survey), class: "btn pill-button-middle"
                  = link_to "See Responses", grade_course_survey_path(survey.course, survey), class: "btn pill-button-left pill-button-fix-right"
            - else
              %tr
                %td= link_to survey.course.name, course_path(survey.course)
                %td= survey.name
                - if survey.end_time.nil?
                  %td Unknown
                - else
                  %td=  survey.end_time
                %td
                  = link_to "Take", login_course_survey_path(survey.course, survey), class: "btn"
.row
  - if !@enrolled.empty? && !@taught.empty?
    .span6
      = render 'enrolled_classes'
    .span6
      = render 'teaching_classes'
  - elsif @taught.empty?
    .span12
      = render 'enrolled_classes'
  - else
    .span12
      = render 'teaching_classes'
.row
  .span12
    .btn-toolbar
      - if is_admin?
        = link_to "Create Course", new_course_path, class: "btn"
      = link_to "Enroll/Drop Classes", courses_path, class: "btn"
