%h1
  ResponseMonster
%br
%h2
  Open surveys
%table.table.table-hover.table-condensed.wide
  %thead
    %tr
      %th
        Class
      %th
        Survey
      %th
        Closes
  %tbody
    %tr
      %td
        CSCI 430
      %td
        Test survey
      %td
        Unknown

%table.wide
  %tr
    %td.half-cell
      %h2
        Classes you're enrolled in

      - if is_admin?
        .btn= link_to "New Course", new_course_path
        %br
        %br

      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              Name
            %th
              Title
            %th
              Section
            %th
              Term
            %th
              Teacher
            - if is_admin?
              %th
                Edit
        %tbody
          - current_user.courses.each do |course|
            %tr
              %td
                = link_to course.name, course
              %td
                = course.title
              %td
                = course.section
              %td
                - if Date.new(Date.today.year, 8, 1)
                  Fall
                - else
                  Spring
              %td= "#{User.find_by_id(course.teacher_id).first_name} #{User.find_by_id(course.teacher_id).last_name}"
              - if is_admin?
                %td
                  .btn= link_to "Edit", edit_course_path(course)
    %td.half-cell
      %h2
        Classes you teach

      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              Name
            %th
              Title
            %th
              Section
            %th
              Term
            %th
              Students
            - if is_admin?
              %th
                Edit
        %tbody
          - current_user.courses.each do |course|
            %tr
              %td
                = link_to course.name, course
              %td
                = course.title
              %td
                = course.section
              %td
                - if Date.new(Date.today.year, 8, 1)
                  Fall
                - else
                  Spring
              %td
                = course.users.count
              - if is_admin?
                %td
                  .btn= link_to "Edit", edit_course_path(course)
.btn= link_to "Add Classes", courses_path