%h1
  Response Monster
%br
%h2
  Classes

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        Name
      %th
        Title
      %th
        Section
      %th
        Term
      %th
        Add/Drop Class
  %tbody
    - @courses.each do |course|
      - @enrolled = false
      - course.users.each do |user|
        - if current_user == user
          - @enrolled = true
      %tr
        %td
          = course.name
        %td
          = course.title
        %td
          = course.section
        %td
          = course.term
        %td
          - if @enrolled
            .btn= link_to "Drop Class", drop_course_path(course)
          - else
            .btn= link_to "Add Class", add_course_path(course)