%h1
  ResponseMonster
%br
- open_surveys = false
- current_user.courses.each do |course|
  - course.surveys.each do |survey|
    - open_surveys = survey.is_active? || open_surveys
- @courses.each do |course|
  - course.surveys.each do |survey|
    - open_surveys = survey.is_active? || open_surveys
- if open_surveys
  %h2 Open surveys in your classes
  %table.table.table-hover.table-condensed.wide
    %thead
      %tr
        %th Class
        %th Survey
        %th Closes
        %th Action
    %tbody
      - if !@courses.empty?
        - @courses.each do |course|
          - course.surveys.each do |survey|
            - if survey.is_active?
              %tr
                %td= link_to course.name, course
                %td= survey.name
                - if survey.end_time.nil?
                  %td Unknown
                - else
                  %td= survey.end_time
                %td
                  = link_to "Close quiz", deactivate_course_survey_path(course, survey), class: "btn pill-button-right pill-button-fix"
                  = link_to "View Quiz", course_survey_path(course, survey), class: "btn pill-button-middle"
                  = link_to "See Responses", grade_course_survey_path(course, survey), class: "btn pill-button-left pill-button-fix-right"
      - if !current_user.courses.nil?
        - current_user.courses.each do |course|
          - course.surveys.each do |survey|
            - if survey.is_active?
              %tr
                %td= link_to course.name, course_path(course)
                %td= link_to survey.name, course_survey_path(course, survey)
                - if survey.end_time.nil?
                  %td Unknown
                - else
                  %td=  survey.end_time
                %td
                  = link_to "Take", login_course_survey_path(course, survey), class: "btn"
%table.wide
  %tr
    - if !current_user.courses.empty? || Course.where(teacher_id: current_user.id).empty?
      %td.half-cell
        %h2 Classes you're enrolled in
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th Name
              %th Title
              %th Section
              %th Term
              %th Teacher
              - if is_admin?
                %th
                  Edit
          %tbody
            - current_user.courses.each do |course|
              %tr
                %td=link_to course.name, course
                %td=course.title
                %td=course.section
                %td
                  - if Date.new(Date.today.year, 8, 1)
                    Fall
                  - else
                    Spring
                %td= "#{User.find_by_id(course.teacher_id).first_name} #{User.find_by_id(course.teacher_id).last_name}"
                - if is_admin?
                  %td
                    .btn= link_to "Edit", edit_course_path(course)
    - if !Course.where(teacher_id: current_user.id).empty?
      %td.half-cell
        %h2 Classes you teach
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th Name
              %th Title
              %th Section
              %th Term
              %th Students
              - if is_admin?
                %th
                  Edit
          %tbody
            - @courses.each do |course|
              - if course.teacher_id == current_user.id
                %tr
                  %td=link_to course.name, course
                  %td=course.title
                  %td=course.section
                  %td
                    - if Date.new(Date.today.year, 8, 1)
                      Fall
                    - else
                      Spring
                  %td=course.users.count
                  - if is_admin?
                    %td
                      .btn= link_to "Edit", edit_course_path(course)
    %tr
      %td
        - if is_admin?
          .btn= link_to "New Course", new_course_path
%br
.btn= link_to "Enroll/Drop Classes", courses_path
