%h1
  Listing users

%table.table.table-hover.table-condensed
  %tr
    %th
      Email
    %th
      First name
    %th
      Last name
    %th
      Actions
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.first_name
      %td= user.last_name
      %td= link_to 'Show', user, class: "btn"
      %td= link_to 'Edit', edit_user_path(user), class: "btn"
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"
%br
