<p id="notice"><%= notice %></p>

<p>
  <b>Answer text:</b>
  <%= @answer.answer_text %>
</p>

<p>
  <b>Is right:</b>
  <%= @answer.is_right %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
