= form_for([:course, :survey, @poll]) do |f|
  - if @poll.errors.any?
    #error_explanation
      %h2= pluralize(@poll.errors.count, "error") 
      Prohibited this poll from being saved:

      %ul
      - @poll.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :answer_type
    = f.text_field :answer_type
  .field
    = f.label :question_text
    = f.text_field :question_text
  .actions
    = f.submit
