= javascript_include_tag "add_and_remove_helpers"
= form_for([@course, @survey]) do |f|
  - if @survey.errors.any?
    #error_explanation
      %h2= pluralize(@survey.errors.count, "Error")
      Prohibited this survey from being saved:
        
      %ul
      - @survey.errors.full_messages.each do |msg|
        %li= msg

  = f.label :name, "Survey Name, eg: Quiz 1"
  = f.text_field :name, autofocus: "autofocus"
  = f.label :attempts_allowed, "Attempts Allowed, Enter 0 for unlimited attempts"
  = f.number_field :attempts_allowed, required: true
  = f.label :password, "Password, If a password isn't needed, leave these fields blank"
  = f.text_field :password

  .questions
    = f.fields_for :polls do |builder|
      = render 'poll_fields', :f => builder 
    %br
    %br
    .btn= link_to_add_fields "Add Question", f, :polls

  %br
  .actions
    = f.submit
