.subform
  %h3 Question
  .well
    = f.label :question_text, "Question Text, eg: What is my favorite color"
    = f.text_field :question_text
    %br
    Question Type, read #{link_to 'This', types_path, target: "_blank"} for more info
    %br
    = f.select :answer_type, "<option>Multiple Choice</option><option>Short Answer</option><option>Code</option><option>Essay</option>".html_safe
    %br
    Should users only be allowed to select one answer?
    %br
    = f.select :is_radio, "<option>Yes</option><option>No</option>".html_safe
    %br
    = f.label :points, "How many points is this worth?"
    = f.number_field :points, required: true, min: 0
    %h3 Answer(s)
    = f.fields_for :answers do |builder|
      = render 'answer_fields', f: builder
    .btn-toolbar
      = link_to_add_fields "Add Answer", f, :answers
      = link_to_remove_fields "Remove Question", f
