%h2 Question
.well
  .fields
    = f.label :question_text, "Question Text, eg: What is my favorite color"
    = f.text_field :question_text
    %br
    Question Type, read #{link_to 'This', types_path, target: "_blank"} for more info
    %br
    = f.select :answer_type, "<option>Multiple Choice</option><option>Short Answer</option><option>Code</option><option>Essay</option>".html_safe
    %br
    Should users only be allowed to select one answer?
    %br
    = f.select :is_radio, "<option>Yes</option><option>No</option>".html_safe
    %h2 Answer(s)
    = f.fields_for :answers do |builder|
      = render 'answer_fields', f: builder
    .btn= link_to_add_fields "Add Answer", f, :answers
    %br
    %br
    .btn= link_to_remove_fields "Remove Question", f
