= form_for("responses[]", url: { action: 'create', controller: 'responses', survey: params[:id] }) do |f|
  #surveyDetails
    %h2
      Details
    %p
      %b
        Name
      %br
      = @survey.name
      %br
      %b
        Attempts
      %br
      - if @survey.attempts_allowed.nil? || @survey.attempts_allowed == 0
        = @times_submitted
      - else
        = "#{@times_submitted} / #{@survey.attempts_allowed}"

  #surveyQuestions
    %h2
      Questions
    - @survey.polls.each do |poll|
      = poll.question_text
      - if !poll.answers.any?
        %br
        = text_field_tag "short_answer#{poll.id}"
        %br
      - poll.answers.each do |answer|
        .well
          - if poll.answer_type == "Multiple Choice"
            - if poll.is_radio == "Yes"
              = radio_button_tag "pollId#{poll.id}", answer.id
            - else
              = check_box_tag "pollId#{answer.id}", answer.id
            = answer.answer_text
  %input.btn.btn-large.btn-primary{ type: "submit", value: "Submit" }
