%h1
  Survey

#surveyDetails
  %h2
    Details
  .pull-right.btn{:style => "border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left: 0px;"}
    = link_to "New Survey", new_course_survey_path(@course, @survey)
  .pull-right.btn{:style => "border-top-right-radius: 0px; border-bottom-right-radius: 0px;"}
    = link_to "Edit Survey", edit_course_survey_path(@course, @survey)
  %p
    %b
      Name
    %br
    = @survey.name

#surveyQuestions
  %h2
    Questions
  - @survey.polls.each do |poll|
    %table.table
      %thead
        %tr
          %td
            = poll.question_text
          %td
            Correct Answer?
      - poll.answers.each do |answer|
        %tr
          %td
            = answer.answer_text
          %td
            = answer.is_right.to_s.capitalize
      %br


  .pull-right.btn{:style => "border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left: 0px;"}
    = link_to "New Survey", new_course_survey_path(@course, @survey)
  .pull-right.btn{:style => "border-top-right-radius: 0px; border-bottom-right-radius: 0px;"}
    = link_to "Edit Survey", edit_course_survey_path(@course, @survey)
%br
