%h1
  Survey

- if is_teacher?(@course)
  .pull-right.btn.pill-button-left
    = link_to "New Survey", new_course_survey_path(@course, @survey)
  .pull-right.btn.pill-button-right
    = link_to "Edit Survey", edit_course_survey_path(@course, @survey)
  %br
  %br

  #surveyDetails
    %h2
      Details
    %p
      %b
        Name
      %br
      = @survey.name

    #surveyQuestions
      %h2
        Questions
      - @survey.polls.each do |poll|
        %table.table
          %thead
            %tr
              %td
                = poll.question_text
              %td
                Correct Answer?
              %td
                = "#{poll.points} points possible"
          - poll.answers.each do |answer|
            %tr
              %td
                = answer.answer_text
              %td
                = answer.is_right.to_s.capitalize
              %td
          %br


      .pull-right.btn.pill-button-left
        = link_to "New Survey", new_course_survey_path(@course, @survey)
      .pull-right.btn.pill-button-right
        = link_to "Edit Survey", edit_course_survey_path(@course, @survey)
    %br
- else
  = render 'user_response'