%h1
  Summary

%h3
  = @survey.name
%br
%p
  Score:
  = "#{@student_assessment.score} / #{@survey.total_points}"

%h2
  Questions

- if !@assessment.nil?
  = form_for("grades[]", url: { action: "newgrade", assessment_id: @assessment.id } ) do |f|
    - @assessment.responses.each do |response|
      = response.poll.question_text
      .well
        - response.poll.answers.each do |answer|
          - if response.choiceId == answer.id && response.is_right
            .correct-answer= answer.answer_text
          - elsif response.choiceId == answer.id && !response.is_right
            .wrong-answer= answer.answer_text
          - else
            .not-picked-answer= answer.answer_text
        - if response.poll.answers.empty?
          = response.short_answer
          %br
        %br
        = f.label :points, "Points earned out of #{response.poll.points}"
        - if response.points.nil?
          = number_field_tag "points#{response.id}", 0, in: 0...response.poll.points+1
        - else
          = number_field_tag "points#{response.id}", response.points, in:0...response.poll.points+1
    = f.submit "Save Grades"
- else
  - @survey.polls.each do |poll|
    = poll.question_text
    %br
    .well
      - if poll.answers.any?
        - poll.answers.each do |answer|
          - @is_choice = false
          - @responses.each do |response|
            - if answer.id == response.choiceId
              - @is_choice = true
          - if @is_choice && answer.is_right?
            .correct-answer= answer.answer_text
          - elsif @is_choice && !answer.is_right?
            .wrong-answer= answer.answer_text
          - else
            .not-picked-answer= answer.answer_text
          %br
      - @responses.each do |response|
        - if response.poll_id == poll.id
          - if response.short_answer
            = response.short_answer
          -# elsif response.essay
          -# elsif response.code

= link_to "Back", course_path(@course), class: "btn"
