%h1
  Summary

= @survey.name

%h2
  Question
- @survey.polls.each do |poll|
  = poll.question_text
  %br
  .well
    - poll.answers.each do |answer|
      - @is_choice = false
      - @responses.each do |response|
        - if answer.id == response.choiceId
          - @is_choice = true
      - if @is_choice && answer.is_right?
        .correct-answer= answer.answer_text
      - elsif @is_choice && !answer.is_right?
        .wrong-answer= answer.answer_text
      - else
        .not-picked-answer= answer.answer_text
      %br
