%h1
  Listing courses

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        Name
      %th
        Title
      %th
        Section
      %th
        Term
      %th
        Teacher
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.title
        %td= course.section
        %td= course.term
        - @user = User.find_by_id(course.teacher_id)
        %td= "#{@user.first_name} #{user.last_name}"
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Course', new_course_path
