%h1
  Listing courses

%table
  %tr
    %th
      Name
    %th
      Title
    %th
      Section
    %th
      Term
    %th
    %th
    %th

- @courses.each do |course|
  %tr
    %td= course.name
    %td= course.title
    %td= course.section
    %td= course.term
    %td= link_to 'Show', course
    %td= link_to 'Edit', edit_course_path(course)
    %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Course', new_course_path
