%h1
  Listing courses

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        Name
      %th
        Title
      %th
        Section
      %th
        Term
      %th
        Teacher
      %th
      - if is_admin?
        %th
        %th

  %tbody
    - @courses.each do |course|
      - @enrolled = false
      - course.users.each do |user|
        - if current_user == user
          - @enrolled = true
      %tr
        - if @enrolled
          %td= link_to course.name, course
        - else
          %td= course.name
        %td= course.title
        %td= course.section
        - if Date.new(Date.today.year, 8, 1)
          %td
            Fall
        - else
          %td
            Spring
        %td= "#{User.find_by_id(course.teacher_id).first_name} #{User.find_by_id(course.teacher_id).last_name}"
        %td
          - if @enrolled
            = link_to "Drop Course", drop_course_path(course), class: "btn"
          - else
            = link_to "Enroll in Course", add_course_path(course), class: "btn"
        - if is_admin?
          %td
            = link_to 'Edit', edit_course_path(course), class: "btn"
          %td
            = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"
%br

- if is_admin?
  = link_to 'New Course', new_course_path, class: "btn"
