%center
  %h3= @course.title + "-" + @course.section
  %h3= @course.name
  %h4= "#{User.find(@course.teacher_id).first_name} #{User.find(@course.teacher_id).last_name}"
  %h4
    - if Date.new(Date.today.year, 8, 1) == @course.term
      Fall
    - else
      Spring

%br
- if is_teacher?(@course) || is_admin?
  = link_to 'Create New Survey', new_course_survey_path(@course), class: "btn"
%br

%h3
  Surveys
%table.table
  %thead
    %tr
      %th
        Name
      %th
        Start Time
      %th
        End Time
      - if is_teacher?(@course)
        %th
          Action
        %th
          Activate
        %th
          Delete
      - else
        %th
          Action
  %tbody
    - @surveys.each do |survey|
      %tr
        %td
          = survey.name
        %td
          - if survey.start_time.nil?
            = @course.term
          - else
            = survey.start_time
        %td
          - if survey.start_time.nil?
            = Date.new(Date.today.year, 12, 24)
          - else
            = survey.end_time
        - if is_teacher?(@course)
          %td
            = link_to "View", course_survey_path(@course, survey), class: "pill-button-right btn pill-button-fix"
            = link_to "Edit", edit_course_survey_path(@course, survey), class: "pill-button-middle btn"
            = link_to "Grade", grade_course_survey_path(@course, survey), class: "pill-button-left btn pill-button-fix-right"
          %td
            - if survey.is_active
              = link_to "Deactive Survey", deactivate_course_survey_path(@course, survey), class: "btn"
            - else
              = link_to "Activate Survey", activate_course_survey_path(@course, survey), class: "btn"
          %td
            = link_to "Delete", [@course, survey], method: :delete, confirm: "Are you sure you want to delete this survey?", title: "Delete #{survey.name}", class: "btn btn-danger"
        - else
          %td
            - if survey.is_active
              = link_to "Take", login_course_survey_path(@course, survey), class: "btn"
            - else
              = link_to "Take", "#", class: "disabled btn"


- if !is_teacher?(@course) && !@assessments_taken.empty?
  %h3
    Past Submissions
  %table.table
    %thead
      %tr
        %th
          Name
        %th
          Time Submitted
        %th
          Grade
        %th
          Action
    %tbody
      - @assessments_taken.each do |assessment|
        %tr
          %td
            = assessment.survey.name
          %td
            = assessment.created_at
          %td
            = "#{assessment.score} / #{assessment.survey.total_points}"
          %td
            - if assessment.survey.is_active?
              = link_to "Retake", login_course_survey_path(@course, assessment.survey), class: "pill-button-right btn"
              = link_to "View", summary_course_survey_path(@course, assessment.survey), class: "pill-button-left btn pill-button-fix-right"
            - else
              = link_to "View", summary_course_survey_path(@course, assessment.survey), class: "btn"


- if is_teacher?(@course)
  = link_to 'Create New Survey', new_course_survey_path(@course), class: "btn"

- if is_admin?
  = link_to 'Edit', edit_course_path(@course), class: "btn"
  %br
  %br
  = link_to 'Back', root_path, class: "btn"
