%p#notice= notice

%p
  %b
    Name:
  = @course.name

%p
  %b
    Title:
  = @course.title

%p
  %b
    Section:
  = @course.section

%p
  %b
    Term:
  - if Date.new(Date.today.year, 8, 1) == @course.term
    Fall
  - else
    Spring

- if @course.teacher_id == current_user.id || is_admin?
  .btn= link_to 'Create New Survey', new_survey_path(course: @course.id)

- if is_admin?
  .btn= link_to 'Edit', edit_course_path(@course)
  %br
  %br
  .btn= link_to 'Back', courses_path