%p
  %b
    Name:
  = @course.name

%p
  %b
    Title:
  = @course.title

%p
  %b
    Section:
  = @course.section

%p
  %b
    Term:
  - if Date.new(Date.today.year, 8, 1) == @course.term
    Fall
  - else
    Spring

%br
- if is_teacher?(@course)
  .btn= link_to 'Create New Survey', new_course_survey_path(@course)
%br

%h2
  Surveys
%table.table
  %thead
    %tr
      %th
        Name
      %th
        Start Time
      %th
        End Time
      %th
        Edit
      %th
        Activate
      %th
        Delete
  %tbody
    - @surveys.each do |survey|
      %tr
        %td
          .btn= link_to survey.name, course_survey_path(@course, survey)
        %td
          = survey.start_time
        %td
          = survey.end_time
        %td
          .btn= link_to "Edit", edit_course_survey_path(@course, survey)
        %td
          - if survey.is_active
            .btn= link_to "Deactive Survey", deactivate_course_survey_path(@course, survey)
          - else
            .btn= link_to "Activate Survey", activate_course_survey_path(@course, survey)
        %td
          .btn.btn-warning= link_to "Delete", [@course, survey], method: :delete, confirm: "Are you sure you want to delete this survey?", title: "Delete #{survey.name}"


- if is_teacher?(@course)
  .btn= link_to 'Create New Survey', new_course_survey_path(@course)

- if is_admin?
  .btn= link_to 'Edit', edit_course_path(@course)
  %br
  %br
  .btn= link_to 'Back', courses_path
